:root{
    --grass: #9bcc50;
    --poison: #b97fc9;
    --water: #4592c4;
    --fire: #fd7d24;
    --flying: #3dc7ef;
    --bug: #729f3f;
    --drag: #53a4cf;
    --electric: #eed535;
    --ice: #51c4e7;
    --psychic: #f366b9;
    --steel: #9eb7b8;
    --rock: #a38c21;
    --ground: #f7de3f;
    --ghost: #7b62a3;
    --normal: #b1b1b1;
    --fairy: #fdb9e9;
    --fighting: #d56723;
    --dark: #707070;
}
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
}
.fixo{
    text-align: center;
    color: #eee;
    background-color: #000;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}
.header{
    height: 120px;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
}
.pesquisa{
    display: flex;
    background-color: #181818;
    border: 1.5px solid #aaa;
    border-radius: 3px;
}
.pesquisa input{
    padding: 5px 35px;
    width: 400px;
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    outline: none;
    color: #eee;
    font-size: 20px;
    &::placeholder{
        color: #666;
    }
}
.pesquisa .botao{
    width: 45px;
    background-color: transparent;
    border: none;
}
.botao i{
    color: #aaa;
    font-size: 20px;
}
.tipos{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 1rem;
    max-width: 1280px;
}
.tipos button{
    text-align: center;
    color: #fff;
    max-width: 100px;
    background-color: #333;
    padding: 7.5px;
    border: none;
    border-radius: 5px;

    &:hover{
        box-shadow: 0px 0px 15px 0px #000;
    }
}
.contPkm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 270px;
    height: 380px;
    padding: 15px 0;
    background-color: #000;
    transition: 0.5s 0.4s ease-in;
}
.card p:nth-child(3){
    color: #eee;
    font-size: 24px;
}
.card p{
    width: 95%;
    margin-left: 5%;
    font-size: 20px;
    color: #999;
}
.card div{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.card div p{
    max-width: 90px;
    min-width: 70px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: #fff;
    padding: 3px 0;
    border-radius: 5px;
}
.card img{
    width: 175px;
    margin: 40px;
}
.maisPkm{
    font-size: 24px;
    color: #eee;
    padding: 15px;
    border-radius: 5px;
    background-color: #db5a0e;
    border: none;
    &:hover{
        box-shadow: 0px 0px 20px 0px #db5a0e;
    }
}